.conuner_aulonerie{
    display: flex;
    padding: 7rem 14rem 4rem;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.item_aulonerie{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}