.continer_cris {
	display: flex;
	padding: 7rem 14rem 4rem;
}
.item_cris {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	padding: 5rem 3rem 4rem;
}
.item_cris h2{
	color: rgb(9, 64, 58);;
	font-weight: 600;
	position: relative;
	right: 26%;
	padding-bottom: 1%;

}
.Eveil_fri{
	position: absolute;
    top: 50%;
    left: 26%;
    font-size: 2rem;

}
.Eveil_fri h1{
	background-color:#8B0000;
	color: white;
	line-height: normal;
	letter-spacing: normal;
	
}
.Eveil_fri p{
	background-color: white;
	color: rgb(9, 64, 58);
	margin-top: 2%;
	left: 5%;
	
	
}
.foto_eveil{
	width: 38rem;
	height: 26rem;
}

@media screen and (max-width: 767px) {
	.continer_cris {
		display: flex;
		padding: 7rem 14rem 4rem;
	}
	.item_cris {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		padding: 5rem 3rem 4rem;
	}
	.item_cris h2{
		color: rgb(9, 64, 58);;
		font-weight: 600;
		position: relative;
		right: 0%;
		padding-bottom: 1%;
	
	}
	.Eveil_fri{
	position: absolute;
    top: 51%;
    left: 1%;
    font-size: 2rem;
	
	}
	.Eveil_fri h1{
		background-color:#8B0000;
		color: white;
		line-height: normal;
		letter-spacing: normal;
		
	}
	.Eveil_fri p{
		background-color: white;
		color: rgb(9, 64, 58);
		margin-top: 2%;
		left: 5%;
		
		
	}
	.foto_eveil{
		width: 28rem;
		height: 26rem;
	}
	
}
@media (max-width: 468px){

	.continer_cris {
		display: flex;
		padding: 7rem 14rem 4rem;
	}
	.item_cris {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		padding: 5rem 3rem 4rem;
	}
	.item_cris h2{
		color: rgb(9, 64, 58);;
		font-weight: 600;
		position: relative;
		right: 0%;
		padding-bottom: 1%;
	
	}
	.Eveil_fri{
		position: absolute;
		top: 51%;
		left: 1%;
		font-size: 1rem;
		width: 55%;
	
	}
	.Eveil_fri h1{
		background-color:#8B0000;
		color: white;
		line-height: normal;
		letter-spacing: normal;
		
	}
	.Eveil_fri p{
		background-color: white;
		color: rgb(9, 64, 58);
		margin-top: 2%;
		left: 5%;
		
		
	}
	.foto_eveil{
		width: 24rem;
		height: 24rem;
	}
	
	}