
.continer_bateme{
    display: flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 15rem 17rem 3rem;
   
}
.item_bateme{
    width: 357px;
    height: 533px;
    object-fit: cover;
    object-position: 50% 50%;

}
span{
    font-size: 75px;

}

.des_photo{
    display: flex;
    padding: 5% 2% 3% 0%;
}
.ferst{
    width: 14%;
    height: 14%;
    border-radius: 11rem;
    border: solid 1px rgb(0, 255, 221);
}
.tow_info{
    background-color: #B5EAEA;
    padding: 10%;
}
 h5{
    font-size: 2rem;
    
}
@media screen and (max-width:767px) {
    .continer_bateme{
      
        display: flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 16rem 2rem 3rem;
       
    }
    .item_bateme{
        width: 357px;
        height: 533px;
        object-fit: cover;
        object-position: 50% 50%;
    
    }
    .contact{
        display: flex;
    }
    .des_photo{
        display: flex;
        padding: 5% 2% 3% 0%;
    }
    .ferst{
        width: 14%;
        height: 14%;
        border-radius: 11rem;
        border: solid 1px rgb(0, 255, 221);
    }
    .tow_info{
        background-color: #B5EAEA;
        padding: 10%;
    }
     h5{
        font-size: 2rem;
        
    }

}
/*
.deuxchose{
    background-color: aqua;
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border: solid 1px red;
    display: flex;
    justify-content: end; 
}
.photo-section{

    height: 243px;
    border-left: 3%;
    border: solid;
    border-radius: 1rem;
    margin-left: 2%;
    margin-right: 2%;

}
.description{
    text-align: center;
    font-size: 58px;
    text-align: center;
    
} */