.continer_comunition {
	display: flex;
	display: -ms-flexbox;
	flex-wrap: nowrap;
	flex-direction: column;
	padding: 9rem 17rem 3rem;
}
.item_comunition {

	object-fit: cover;
	object-position: 50% 50%;
}
.hedrscom {
	font-size: 75px;
	color: #aa2513;
	font-weight: 600;
	padding-bottom: 13rem;
}
.com_tow_info {
	background-color: #b5eaea;
	padding: 10%;
}
.des_photo_com {
	display: flex;
	padding: 5% 2% 3% 0%;
}
.continer_comunition h5{
	font-size: 2rem;
	margin: 3%;
}
.continer_comunition h2{
	margin: 1%;
	color: rgb(9, 64, 58);;
	font-weight: 600;
	position: relative;
    left: 2%;
	

}
.continer_comunition p{
	margin: 1%;
	padding: 0rem 2rem 1rem;

}
.description_fC_un {
	position:absolute;
	left: 31%;

}
@media screen and (max-width: 767px) {
	.continer_comunition {
		display: flex;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		padding: 11rem 1rem 3rem;
	}
	.item_comunition {

		object-fit: cover;
		object-position: 50% 50%;
	}
	.hedrscom {
		font-size: 54px;
		color: #aa2513;
		font-weight: 600;
		padding-bottom: 13rem;
	}
	.com_tow_info {
		background-color: #b5eaea;
		padding: 10%;
	}
	.des_photo_com {
		display: flex;
		padding: 5% 2% 3% 0%;
	}
	.continer_comunition h5{
		font-size: 2rem;
		margin: 3%;
	}
	.continer_comunition h2{
		margin: 0%;
	
	}
	.continer_comunition p{
		margin: 1%;
		font-size: 20px;
		padding: 0rem 0rem 0rem;
	}
	
	.description_fC_un {
		position:absolute;
		left: 31%;
	
	}
}
