.continer_comunition{
    padding: 6rem 1rem 1rem;
    display: flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 15rem 17rem 3rem;
    

}
.item_comunition{
    object-fit: cover;
    object-position: 50% 50%;

}
.com_tow_info{
    background-color: #B5EAEA;
    padding: 10%;

}
.des_photo_com{
    
    display: flex;
    padding: 5% 2% 3% 0%;

}