.continer_mariage{
    padding: 6rem 1rem 1rem;
    display: flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 8rem 17rem 3rem;


}
.item_mariage{
    
    object-fit: cover;
    object-position: 50% 50%;

}
.Mar_tow_info{
    background-color: #B5EAEA;
    padding: 10%;

}
.des_photo_Mar{
    display: flex;
    padding: 5% 2% 3% 0%;

}