.continer_oncation {
	display: flex;
	display: -ms-flexbox;
	flex-wrap: nowrap;
	flex-direction: column;
	padding: 10rem 17rem 3rem;
}
.item_oncation {
	object-fit: cover;
	object-position: 50% 50%;
}
.hedrsonc {
	font-size: 36px;
	color: #aa2513;
	font-weight: 600;
	padding-bottom: 13rem;
}
.onca_tow_info {
	background-color: #b5eaea;
	padding: 10%;
}
.onca_photo_conf {
	display: flex;
	padding: 5% 2% 3% 0%;
}
.continer_oncation p {
	margin: 1%;
	font-size: 20px;
}
.continer_oncation h2 {
	margin: 1%;
	color: rgb(9, 64, 58);;
	font-weight: 600;
	position: relative;
    left: 1%;
}
.description_fON_un {
	position: absolute;
	left: 31%;
}
.continer_oncation h5 {
	font-size: 2rem;
	margin: 3%;
}
@media screen and (max-width: 767px) {
	.continer_oncation {
		display: flex;
		display: -ms-flexbox;
		flex-wrap: nowrap;
		flex-direction: column;
		padding: 10rem 1rem 3rem;
	}
	.item_oncation {
		object-fit: cover;
		object-position: 50% 50%;
	}
	.hedrsonc {
		font-size: 45px;
		color: #aa2513;
		font-weight: 600;
		padding-bottom: 13rem;
	}
	.onca_tow_info {
		background-color: #b5eaea;
		padding: 10%;
	}
	.onca_photo_conf {
		display: flex;
		padding: 5% 2% 3% 0%;
	}
	.continer_oncation p {
		margin: 3%;
		font-size: 12px;
	}
	.description_fON_un {
		position: absolute;
		left: 31%;
	}
	.continer_oncation h5 {
		font-size: 1rem;
		margin: 3%;
	}
}
