.continer_reconsulation {
	display: flex;
	display: -ms-flexbox;
	flex-wrap: nowrap;
	flex-direction: column;
	padding: 10rem 17rem 3rem;
}
.item_reconsulation {
	object-fit: cover;
	object-position: 50% 50%;
}
.conf_tow_info {
	background-color: #b5eaea;
	padding: 10%;
}
.des_photo_conf {
	display: flex;
	padding: 5% 2% 3% 0%;
}
.hedrsrec {
	font-size: 75px;
	color: #aa2513;
	font-weight: 600;
	padding-bottom: 13rem;
}
.continer_reconsulation p {
	margin: 3%;
}
.description_fR_un {
	position: absolute;
	left: 31%;
}
.continer_reconsulation h5 {
	font-size: 2rem;
	margin: 3%;
}
@media screen and (max-width: 767px) {
}
