/*  Footer */

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #335380;
	margin-top: 11rem;
}
.sociaux {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

footer p {
	padding: 3rem;
	color: white;
}

hr {
	width: 50%;
	margin: auto;
	color: grey;
}
