/*  Footer */ 

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #B5EAEA; 
    margin-top: 11rem;   
}
 .sociaux{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     width: 100%;
 }
 .sociaux img {
     width: 45px;
     margin: 2%;
     cursor: pointer;
 }
 footer p {
     padding: 3rem;
 }
 .foot_ing{
     width: 50px;
 }
 