.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img{
  width: 24rem;
    height: 20rem;
    padding: 1rem;
}
@media screen and (max-width:767px) {
  .App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 2% 4% 2% 0%;
  }
  
  img{
    width: 14rem;
      height: 10rem;
      padding: 1rem;
  }

  
}