.App_slide {
	font-family: sans-serif;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 64vh;

	
}

.sld_t {
	width: 28rem;
	height: 26rem;
	padding: 4rem;
}
.home_header {
	text-align: "center" ;
	display: flex;
		font-size: 7rem;
		color: rgb(9, 64, 58);
		text-shadow: 0 0 0.033em #fff, 0 0 0.08em #fff;
		animation-name: flicker;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		padding-bottom: 1%;
		padding-left: 6%;
	}
      
    
   

@media screen and (max-width: 767px) {
	.App {
		font-family: sans-serif;
		display: flex;
		align-items: center;
		justify-content: center;
		/* height: 90vh; */
		padding: 2% 4% 2% 0%;
	}

	img {
		width: 14rem;
		height: 10rem;
		padding: 1rem;
	}
	.home_header {
		text-align: "center" ;
		display: flex;
		justify-content: center;
			font-size: 3rem;
			
			color: rgb(9, 64, 58);
			text-shadow: 0 0 0.033em #fff, 0 0 0.08em #fff;
			animation-name: flicker;
			animation-duration: 5s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			padding-bottom: 1%;
		}
}
