.continer_contact {
	display: flex;
	justify-content: center;
	padding: 12rem 17rem 3rem;
}
.item_caontact {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	margin: auto;
}
.contact_input {
	width: 34rem;
	height: 10rem;
}
.sub_but {
	background-color: #04aa6d;
	color: white;
	padding: 14px 20px;
	margin: 2px 21px;
	border: none;
	cursor: pointer;
	width: 22%;
	opacity: 0.9;
}

.sccese-massege-E{
	font-weight: 600;
	color: white;
	background-color: green;
	margin: 1rem;
	}
@media screen and (max-width: 767px) {
	.continer_contact {
		justify-content: center;
		padding: 9rem 0rem 0rem;
	}
	.item_caontact {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		padding: 9rem 0rem 0rem;
    	width: 98%;
    	height: 50%;
	}
	.contact_input {
		width:98%;
    height: 54rem;
	}
	.sub_but {
		background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 9px 21px;
    border: none;
    cursor: pointer;
    width: 35%;
    opacity: 0.9;
}
}
