/* .container_class {
	display: flex;
	justify-content: center;
	padding: 12rem 1rem 3rem;
}
.logout {
    display: flex;
	background-color:#f44336;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    width: 88px;
    opacity: 0.9;
    display: -ms-flexbox;
    -ms-flex-pack: end;
	justify-content: flex-end;
    flex-direction: row;
    align-content: space-between;
	float: right;
	position: relative;
    bottom: 21%;
}
.logout a{
	text-decoration: none;
	color: white;
}
.class-card {
}
.item {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	margin-left: 5rem;
	margin-right: 5rem;
}
.item h3{
	font-size: 4rem;

}
@media screen and (max-width: 767px) {
	.container_class {
		display: flex;
		justify-content: center;
		padding: 12rem 1rem 3rem;
	}
	
	.item h3{
		font-size: 4rem;
	
	}
} */
