/*  Footer */ 

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;    
}
 .sociaux{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     width: 100%;
 }
 .sociaux img {
     width: 45px;
     margin: 4%;
     cursor: pointer;
 }
 