/* .siguputton a{
    border: 1px solid;
    border-radius: 50px;
    background-color: tomato;

}
.signupbtn {
    float: left;
    width: 13%;
    } */
    .all-section{
        
    }
    
.fir-para{
    
}
.sec-para{
    
}
p {
    margin-bottom: 1rem;
    
}

.main{
    min-height: 200vh;
    padding:6rem 1rem 1rem ;
}
