.map_img {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
}

p {
	margin-bottom: 1rem;
	font-size: 20px;
	border-radius: 10%;
}

.main {
	min-height: 200vh;
	padding: 12rem 30rem 1rem;
}
.first-h {
	color: black;
}
@media screen and (max-width: 767px) {
	.map_img {
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: space-between;
	}
	/* img {
		width: 14rem;
		height: 0rem;
		padding: 1rem;
	} */
	/* .first-h {
		display: flex;
		font-size: 10rem;
		color: red;
		text-shadow: 0 0 0.033em #fff, 0 0 0.08em #fff, 0 0 0.1em #ce0033,
			0 0 0.2em #ce0033, 0 0 0.3em #ce0033, 0 0 1em #ce0033, 0 0 1.5em#ce0033;
		animation-name: flicker;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	} */
	p {
		margin-bottom: 1rem;
		font-size: 10px;
		border-radius: 9%;
	}
	.main {
		min-height: 200vh;
		padding: 14rem 2rem 1rem;
	}
	.main p  {
		margin-bottom: 1rem;
		font-size: 10px;
		border-radius: 9%;
		font-size: 20px;
	}

}
